table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    text-align: left;
}

thead {
    color: #778CA3;
    font-size: larger;

}

tbody {
    color: #FFFF;
    font-size: small;
}

th,
td {
    padding: 8px 8px 8px 0;
}

td {
    vertical-align: middle;
}

button {
    display: block;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #FFFF;
    font-weight: bold;
    cursor: pointer;
}

.button-done {
    background-image: linear-gradient(45deg, #379237, #1ECD97);
}

.button-edit {
    background-image: linear-gradient(45deg, #3161F5, #2089F8);
}

.button-delete {
    background-image: linear-gradient(45deg, #EF363B, #FB5681);
}

.button-json {
    background-image: linear-gradient(45deg, #00A8E9, #07E9C8);
    margin-left: 0;
}

.button-add {
    background-image: linear-gradient(45deg, #00A8E9, #07E9C8);
}

select,
input[type="text"] {
    border: 0.5px solid #2B3453;
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(#1E1E2E, #1E1E25);
    color: #99a4b0;
}

@media only screen and (max-width: 600px) {
    .mobile-config {
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 15px;
        margin-bottom: 20px;
    }


    .mobile-add-title {
        color: #FFFF;
        font-weight: bold;
        font-size: larger;
    }

    .config-field {
        margin-bottom: 10px;
    }

    .mobile-key {
        color: #FFFF;
        font-weight: bold;
    }

    .mobile-value {
        color: #FFFF;

    }

    .config-buttons {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .button-add {
        margin: 20px auto 0 0;
    }
}
